<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <div class="body">
        <img src="../images/logobig.png" alt="" width="300px">
        <div class="main">
            <h1>LOGIN</h1>
            <% if (messages.error) { %>
                <%= messages.error %>
                    <% } %>
                        <div class="form">
                            <form action="/login" method="POST">
                                <div>
                                    <label class="email" for="email">EMAIL</label><br>
                                    <input type="email" name="email" id="email" required><br>
                                </div>
                                <div>
                                    <label class="password" for="password">PASSWORD</label><br>
                                    <input class="inputpassword" type="password" name="password" id="password"
                                        required><br>
                                </div>
                                <button type="submit">Login</button>
                            </form>
                        </div>
                        <div class="register">
                            <a href="/register">Register</a>
                        </div>
        </div>
    </div>


</body>

</html>