<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>
    <div class="body">
        <img src="../images/logobig.png" alt="" width="300px">
        <div class="main">
            <h1>Register</h1>
            <form action="/register" method="POST">
                <div>
                    <label class="name" for="name">Name</label><br>
                    <input type="text" name="name" id="name" required><br>
                </div>
                <div>
                    <label class="lastname" for="lastname">Last Name</label><br>
                    <input type="text" name="lastname" id="lastname" required><br>
                </div>
                <div>
                    <label class="email" for="email">Email</label><br>
                    <input type="email" name="email" id="email" required><br>
                </div>
                <div>
                    <label class="password" for="password">Password</label><br>
                    <input type="password" name="password" id="password" required><br>
                </div>
                <div>
                    <label class="nomdecompte" for="nomcompte">Nom du compte :</label><br>
                    <input type="text" name="nomcompte" id="nomcompte" required><br>
                </div>
                <div>
                    <label class="solde" for="solde">Solde actuel :</label><br>
                    <input class="inputsolde" type="number" step="0.01" name="solde" id="solde" required><br>
                </div>
                <button type="submit">Register</button>
            </form>
            <div class="login">
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
</body>

</html>